* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body {
   background-image: url("Images/mountain-bg.jpg");
  background-size: cover;
}

:root { 
  font-size: 16px;
  --grid-gap: 20px;
  --primary: #0783FF;
  --secondary: #53A9FF;
  --dark: #03427F;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary);
  padding: 1rem;
}
aside h3{
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: 100px 1fr 5fr 1fr;
  grid-row-gap: 20px;
  background-color: var(--dark);
  margin: 3rem;
  box-shadow: 2px 2px 2px 2px black;
  width: 90%; 
}

#about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#footer {
  display: grid;
  grid-template-column: 1fr 1fr;
  justify-content: center;
  padding: 2rem;
  background-color: var(--primary);
  margin-top: 0;
}
h1{
  text-shadow: 3px 2px 0 #000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--primary);
  padding: 1rem  ;
}

#main_content{
  display: grid;
  grid-template-columns: 7fr 3fr;
  
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

#main-nav a {
  text-decoration: none;
  background-color: var(--dark);
  border: 4px solid;
  padding: 0.5rem 0.8rem;
  border-radius: 18%;
  margin: 0.5rem 1rem;
  transition: 0.3s;
  box-shadow: 1px 2px 3px black;
}

#main-nav a:hover{
  background: var(--secondary);
  box-shadow: 5px 2px 4px black;
}  

#projects{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px 15px;
}

#projects h2 {
  margin: auto;
}

.project_item {
  margin: auto;
  text-decoration: none;
  box-shadow: 1px 2px 3px black;
  background-color: var(--primary);
  padding: 2rem;
  border-radius: 10%;
  border: 4px solid midnightBlue;
  margin: 1rem;
}
.project_item:hover{
  background: var(--secondary);
  transition: 0.8s;
}

.project_item img {
  border-radius: 8px;
  maximum-width
  opacity: 0.8;
  width:100%;
}

.project_item img:hover {
  opacity: 1;  
}

#skills {
  display: flex;
  flex-direction: column;
  align-contents: center;
  flex-wrap: wrap;
  list-style: non;
  padding: 1.5rem;
  
}

#social-media {
  text-decoration: none;
  list-style: none;
  text-size: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .5rem .5rem;
}

#social-media a{
  text-decoration: none;
  text-align: center;
}

#social-media li{
  text-align: center;
}

.contact_heading {
  text-align: center;
}
