* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}

body {
  /*background-image: url("images/mountain-bg.jpg");*/
  background-size: cover;
  background-color: #bbb;
}

:root { 
  font-size: 18px;
  --grid-gap: 20px;
  --primary: #2771CC;
  --secondary: #53A9FF;
  --dark: #264C7F;
}

#about_me {
  padding: 1rem;
}

#about_me img {
    width: 180px;
    border-radius: 8px;
}

#about-me-title {
  background-color: var(--secondary);
  padding: 1rem 2rem;
  border-radius: 15px 50px; 
}

aside {
  background-color: var(--secondary);
}

aside h3{
  text-align: center;
}
.contact_heading {
  text-align: center;
  font-size: 18px;
}

.container {
  /*opacity: 1;*/
}

#dots{
  text-align:center
}

/* The dots/pages for carousel */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #fff;
}

#dropbutton {
  font-weight: normal;
  color: #fff;
  font-size: 1rem;

}

h1{
  text-shadow: 3px 2px 0 #264C7F;
  color: var(--secondary);
  align-self: center;
  font-size: 55px;
}

#main-nav a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
}

#my-description {
    width: 60%;
    font-size: 20px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#projects{
  max-width: 800px;
  margin: auto;
  background-color: var(--primary);
  padding: 2rem;
  }

.project_item {
  max-width: 400px;
  text-decoration: none;
  padding: 2rem;
  /*  margin: auto;
  
  box-shadow: 1px 2px 3px black;
  background-color: var(--primary);

  border-radius: 10%;
  border: 2px solid midnightBlue;
  margin: 1rem;*/
}
  .project_item:hover{
    background: var(--secondary);
    transition: 0.8s;
  }

.project_description {
  display: ;
}